<!DOCTYPE html>
<html ng-app="MedFormsApp">

<head>
    <title>TIY Final Project</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.0-beta.3/angular-ui-router.min.js"></script>
    <script src="app.js"></script>

</head>

<body>
    <header ng-controller="loginPageController">
        <!--use ng-if toshow things conditionally based upon login status-->
        <!--if not logged in this will show-->
        <div ng-if="!loggedIn">
            <!--$scope.loggedIn -->
            <h2>Please log in</h2>
            <input ng-model="username" placeholder="USERNAME" type="text">
            <input ng-model="password" placeholder="PASSWORD" type="text">
            <button id="loginBtn" ng-click="loginUser(username, password)">Login</button>
        </div>

        <div ng-if="loggedIn">
            <!--$scope.loggedIn-->
            <!--this will appear on all pages after login-->
            <h3>Medical Form Fill Service</h3>
            <nav>
                <a ui-sref="forms">Forms</a>
                <a ui-sref="records">Records</a>
            </nav>
        </div>
    </header>

    <main>
        <ui-view></ui-view>
    </main>

    <footer>
        <!--if logged in this will show-->
        <div ng-if="!loggedIn">
        </div>
        <div ng-if="loggedIn">
            <h2>Logged in as {{ username }}.</h2>
            <!-- $scope.loggedIn -->
            <!--<div ng-if="!loggedIn"></div>
            <!-- $scope.loggedIn -->
            <button id="logoutBtn" ng-click="logout(username)">Logout</button>
        </div>
    </footer>
</body>

</html>