<!DOCTYPE html>
<html ng-app="MedFormsApp">

<head>
    <title>TIY Final Project</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.0-beta.3/angular-ui-router.min.js"></script>
    <script src="app.js"></script>

</head>

<body>
     <header-page></header-page>

    <main>
        <ui-view></ui-view>
    </main>

    <footer>
        <!--if logged in this will show-->
        <div ng-if="!loggedIn">
        </div>
        <div ng-if="loggedIn">
            <h2>Logged in as {{ username }}.</h2>
            <!-- $scope.loggedIn -->
            <!--<div ng-if="!loggedIn"></div>
            <!-- $scope.loggedIn -->
            <button id="logoutBtn" ng-click="logout(username)">Logout</button>
        </div>
    </footer>
</body>

</html>