

@import 'node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;


$color1: #F7F5E6;
$color2: #333A56;
$color3: #52658F;
$color4: #E8E8E8;

$grid-column-gutter: 50px;


* {font-family: 'Bitter', serif;
};

header {
    background: $color3;
    height: 100px;
h2{
    margin: 0% 2%;
    padding: 2% 0% 0% 0%;
    color: $color4;
}
h3{
    margin: 0% 2%;
    padding: 2% 0% 0% 0%;
    color: $color4;
}
nav{
    margin: 0% 2%;
    padding: 2% 0% 0% 0%;
    color: $color4;
}
input{
    margin: 2% 2%;
    // padding: 2% 0% 0% 0%;
    color: $color4;
}
};

main {
    
    #patientsForms{
    @include grid-row();
    }

    height: 600px;
    background: $color1;
        
    h2{
    margin: 0% 2%;
    padding: 2% 0% 0% 0%;
    color: $color2;
    }

    li{
    list-style: none;    }

    #patients{
        @include grid-column(6);
    }

    #forms{
        @include grid-column(6);
    }
#getFormDiv{
    @include grid-row();
}
};

footer {
    background: $color2;
    height: 75px;

    h2{
    margin: 0% 2%;
    padding: 2% 0% 0% 0%;
    color: $color4;
    display: inline-block;
}
button{
    margin: 0% 2%;
    display: inline;
}
};