<section>
    <p>{{formItself.patient.firstName}} {{formItself.patient.lastName}}</p>
    <h1> {{formItself.formName}} </h1>
    <div id="questions">
        <ul class="questionsOnForm">
            <li ng-repeat="question in formItself.questions">
                <h2 id="questionTitle">{{question.title}}</h2>

                <div class="booleanQ" ng-if="question.type==='booleanQ'">
                    <!--ng-if needs to an expression-->
                    <p class="questionText">{{question.text}}</p>
                    <input type="radio" name="yesNo" ng-model="question.answerValue" value="true">
                    <label for="yes">Yes</label>
                    <input type="radio" name="yesNo" value="false" ng-model="question.answerValue">
                    <label for="no">No</label>


                </div>
                <div class="scale1-10" ng-if="question.type==='scale1-10'">
                    <p class="questionText">{{question.text}}</p> <input type="radio" name="scale" ng-model="question.answerValue" value="true">
                    <label for="1">1</label>
                    <input type="radio" name="scale" ng-model="question.answerValue" value="true">
                    <label for="2">2</label>
                    <input type="radio" name="scale" ng-model="question.answerValue" value="true">
                    <label for="3">3</label><input type="radio" name="scale" ng-model="question.answerValue" value="true">
                    <label for="4">4</label>
                    <input type="radio" name="scale" ng-model="question.answerValue" value="true">
                    <label for="5">5</label><input type="radio" name="scale" ng-model="question.answerValue" value="true">
                    <label for="6">6</label>
                    <input type="radio" name="scale" ng-model="question.answerValue" value="true">
                    <label for="7">7</label>
                    <input type="radio" name="scale" ng-model="question.answerValue" value="true">
                    <label for="8">8</label><input type="radio" name="scale" ng-model="question.answerValue" value="true">
                    <label for="9">9</label>
                    <input type="radio" name="scale" ng-model="question.answerValue" value="true">
                    <label for="10">10</label>


                </div>
                <div class="ifYesQuestions" ng-if="question.type==='ifYesQuestions'">
                    <p class="questionText">{{question.text}}</p>
                    <input type="radio" name="ifYes" ng-model="question.answerValue" value="true">
                    <label for="yes">No</label>
                    <input type="radio" name="ifYes" value="false" ng-model="question.answerValue">
                    <label for="no">Yes</label>
                    <input type="radio" name="ifYesA" value="false" ng-model="question.answerValue">
                    <label for="ifYesA">My pain prevents me from lifting heavy things.</label>
                    <input type="radio" name="ifYesA" value="false" ng-model="question.answerValue">
                    <label for="ifYesA">My pain makes lifting heavy things more difficult.</label>
                    <input type="radio" name="ifYesA" value="false" ng-model="question.answerValue">
                    <label for="ifYesA">My pain makes lifting things over 10lbs more difficult.</label>


                </div>
                <div class="ifYesRate" ng-if="question.type==='ifYesRate'">
                    <!--ng-if needs to an expression-->
                    <p class="questionText">{{question.text}}</p>
                    <input type="radio" name="yesNo2" ng-model="question.answerValue" value="true">
                    <label for="yes">No</label>
                    <input type="radio" name="yesNo2" value="false" ng-model="question.answerValue">
                    <label for="no">Yes</label>

                    <input type="radio" name="yesNo2a" ng-model="question.answerValue" value="true">
                    <label for="yes">1</label>
                    <input type="radio" name="yesNo2a" value="false" ng-model="question.answerValue">
                    <label for="no">2</label>
                    <input type="radio" name="yesNo2a" ng-model="question.answerValue" value="true">
                    <label for="yes">3</label>
                    <input type="radio" name="yesNo2a" value="false" ng-model="question.answerValue">
                    <label for="no">4</label>


                </div>
                <div class="checkBox " ng-if="question.type==='checkBox'">
                    <!--ng-if needs to an expression-->
                    <p class="questionText">{{question.text}}</p>
                    <input type="radio" name="checkBox" ng-model="question.answerValue" value="true">
                    <label for="yes">Face-melting pain.</label>
                    <input type="radio" name="checkBox " value="false" ng-model="question.answerValue">
                    <label for="no">Dear god, this is horrible.</label>
                    <input type="radio" name="checkBox" ng-model="question.answerValue" value="true">
                    <label for="yes">I've had worse.</label>
                    <input type="radio" name="checkBox " value="false" ng-model="question.answerValue">
                    <label for="no">Meh.</label>

                </div>
                <button ng-click="submit()" ng-if="question.last===true">SUBMIT</button>
                <button ng-if="question.first===false" ng-click="back()">BACK</button>
                <button ng-if="question.last===false" ng-click="next()">NEXT</button>
            </li>
            <!--add ng-if here so it only shows on the last question question.final in form object-->
            <button ng-click="back()">BACK</button>
        </ul>

    </div>





</section>