
        <!--therapist form menu page.
    set up a ng-repeat for form items with discription-->
        <section id="patientsForms" >
        <div id="patients">
       <h2>Patients</h2>
        <ul class="medforms">
            <li ng-repeat="patient in patients">
                <input type="radio" name="selectPatient" ng-model="$parent.chosenPatient" value="{{ patient.id }}">
                <label for="selectPatient"> {{patient.name}} </label> <!--add property to identify form here and add link to form page-->
                <p class="patientDescriptor">Patient ID: {{patient.id}}</p>
            </li>
        </ul>
        </div>
        <div id="forms">
         <h2>Forms</h2>
        <ul class="medforms">
            <li ng-repeat="form in forms">
                <input type="radio" name="selectForm" ng-model="$parent.chosenForm" value="{{ form.title }}">
                <label for="selectForm"> {{form.title}} </label><!--add property to identify form here and add link to form page-->
            <p class="formDescriptor">{{form.description}}</p>
            </li>
        </ul>
        </div>
        </section>
        <div id="getFormDiv">
        <button id="getForm" ng-click="getForm()">Get Form</button>
        </div>