<h2>Please create a new account</h2>
<select>
    <option value="Ms.">Ms.</option>
    <option value="Mr.">Mr.</option>
    <option value="Mrs.">Mrs.</option>
    <option value="Dr.">Dr.</option>
</select>
<input ng-model="firstName" placeholder="FIRST NAME" type="text">
<!--regex-->
<input ng-model="lastName" placeholder="LAST NAME" type="text">
<!--regex-->
<input ng-model="email" placeholder="EMAIL ADDRESS" type="text">
<!--regex-->
<input ng-model="userName" placeholder="EMAIL ADDRESS" type="text">
<!--regex-->
<input ng-model="password" placeholder="EMAIL ADDRESS" type="text">
<!--regex-->
<button id="createBtn" ng-click="create(username, password)">Create Account</button>