<section>
    <p>{{recordItself.patient.firstName}} {{recordItself.patient.lastName}} </p>
    <h1> {{recordItself.form.name}}</h1>
    <div id="records">
        <h2 id="recordTitle">{{record.title}}</h2>
        <ul class="questionsOnRecords">
            <li ng-repeat="question in recordItself.form.questions">

                <div>
                    <h3>{{question.title}}</h3>
                    <p>{{question.text}}</p>
                    <p>{{ recordItself.answers[$index].text }}</p>
                    <!--two arrays that are parallel-->
                </div>
            </li>
                <button ng-click="back()">BACK</button>
</section>