<section>
    <p>{{recordItself.patient.firstName}} {{recordItself.patient.lastName}} </p>
    <h1> {{recordItself.formName}}</h1>
    <div id="records">
        <h2 id="recordTitle">{{recordItself.title}}</h2>
        <ul class="questionsOnRecords">
            <li ng-repeat="record in recordItself.records">

                <div>
                    <h3>{{record.title}}</h3>
                    <p>{{record.text}}</p>
                    <p>{{record.answerValue}}</p>
                </div>
            </li>
                <button ng-click="back()">BACK</button>
</section>